@import url('https://fonts.googleapis.com/css?family=Enriqueta');

table {
	table-layout: fixed;
}

th, td {
	font-size: 15px;
    text-align: left;
    padding-left: 6px;
	font-family: 'Enriqueta', serif;	
	width: 20px;
	height: 35px
}

thead td , th{
    cursor: pointer;
}

tbody th{
    cursor:pointer;
    font-weight: bold;
}

#RTrend{
	height: 200px;	
	width: 300px
}

#MTrend{
	height: 200px;	
	width: 300px
}

#part1{
	height: 300px;
	width: 100%	
}

.summary{
	float: left;
	width: 50%;
}

.walk {
	float: left;
	width: 25%;
	height: 100%
}

#walks{
	float: right;	
}

.label{
	font-weight: bold;
	font-family: 'Enriqueta', serif;
	font-size: 12px;
}

.label2{
	font-weight: bold;
	font-family: 'Enriqueta', serif;
	font-size: 14px;
}

.bars{
	fill: #8FDBEA;
	opacity: 0.8;
}

.incr{
	fill: #66ff66;
	opacity: 0.8;
}

.drop{
	fill: #FF3333;
	opacity: 0.8;
}

.value{
	
}

.type1{
	background-color: #ffebe6;
}

.type2{
	background-color: #ffe6b3;
}

.type3{
	background-color: #e6ffff;
}

.type4{
	background-color: #99ff99;
}

#snapshot{
	padding-left: 10px;
}

.normal{
	fill: #ddddbb;
}

.selected{
	fill: #666633;
	stroke-width: 2;
	stroke: #000000;
}
