

thead > tr > td {
    text-align: right;

}

thead td {
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    background: lightsteelblue;
    border-left: solid 1px #000;
    cursor: s-resize;
    padding-top: 4px;

}

table {
    table-layout: auto;
    border-collapse: collapse;
    font: 11px sans-serif;
    border: solid;
    padding-top: 15px;

    /*width: 720px;*/
}

th {
    font-weight: normal;
    text-align: left;
    padding-left: 9px;
    padding-right: 12px;
    /*min-width: 125px;*/
    cursor: pointer;

}

td {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-align: right;
}

tbody tr:first-child td {
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 15px;

}

tbody th {
    padding-top: 5px;
    font-weight: bold;

}

.aggregate {
    color: darkblue;
    background: #EBEBEB;

}

tbody td {
    padding-left: 15px;
    padding-right: 15px;
    border-left: solid 1px #000;
    color: black

}

/*tr:hover {*/
/*background-color: blue !important;*/
/*}*/

.trhover {
    background-color: darkgrey !important;
}

tbody tr .project {
    color: grey;
    background-color: #fdfdfd;
    padding-left: 55px;
}

/*tbody tr .project:hover {*/
/*background-color: #dbdbdb;*/
/*}*/

.label {
    border-bottom-color: #364e74;
    fill: black;
    font: 11px sans-serif;
    font-weight: bold;
    text-shadow: 3px 3px 4px white
}

@font-face {
    font-family: 'aller';
    src: url('assets/aller.ttf');
}

@font-face {
    font-family: 'brazil';
    src: url('assets/brasil_cup_font.otf');
}

h1 {
    margin-top: 0;
    font-family: 'brazil';
    color: #317f19;
}

h2 {
    font-family: 'Georgia';
    color: darkblue;
    padding-bottom: 0;
    margin-top: 3px;
    margin-bottom: 20px;
}

h3 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

* {
    font-family: 'aller';
}

header {
    padding: 0.5em;
    /*clear: left;*/
    text-align: center;

    height: 100px;
}

.agrregateCircle {
    stroke-width: 2px;
    r: 6;
}

.projectCircle {
    stroke-width: 3px;
    r: 5;
}

.node circle {
    fill: #be2714;
}

.node text {
    font: 14px sans-serif;
}

.winner circle {
    fill: #364e74;
}

.loser text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
    stroke-linecap: round;
    fill: none;
    stroke: green;
    stroke-opacity: 0.9;
    stroke-width: 2px;
}

.selected {
    stroke: #be2714;
    stroke-width: 4px;
}

.view {
    width: 800px;
    padding: 0.5em;
    float: left;
    resize: both;
    overflow: auto;
}

.view2 {
    top:750px;
    left: 800px;
    width: 1000px;
    padding: 0.5em;
    float: left;
    resize: both;
    position: absolute;

}

.view2>button {
    float: left;
    resize: both;
    position: absolute;

}


.tab>button {
    background-color: #929292;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Enriqueta', serif;
    font-size: 20px;
    text-decoration: none;
    border: none;
}

.tab>button:hover {
    border: none;
    background: #e94700;
    box-shadow: 0px 0px 1px #777;
}
.even {
    background-color: #EBEBEB;
}

.odd {

}

.project {
    color: grey;
    background-color: #fdfdfd;
}

span.glyphicon-sort {
@include "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
    font-size: 0.8em;
}

.d3-tip {
    /*line-height: 5;*/
    padding-left: 5px;
    padding-right: 5px;
    min-width: 300px;
    /*border-style: outset;*/
    /*padding: 12px;*/
    background: ghostwhite;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    pointer-events: none;
}

.tooltip-title {
    font-size: 18px;
    font-family: "Arial Black";

}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    /*box-sizing: border-box;*/
    display: inline;
    font-size: 10px;
    width: 100%;
    /*line-height: 1;*/
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
    content: "\25BC";
    /*margin: -1px 0 0 0;*/
    top: 100%;
    left: 0;
    text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
    content: "\26A0";
    /*margin: -4px 0 0 0;*/
    top: -800px;
    left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
    content: "\25B2";
    /*margin: 4px 0 1px 0;*/
    top: -8px;
    left: 300px;
    text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
    content: "\25B6";
    /*margin: -4px 0 0 -1px;*/
    top: 50%;
    left: 100%;
}

.legend {
    border-bottom-color: #364e74;
    fill: black;
    font: 12px sans-serif;
    font-weight: bold;
}

.dim {
    opacity: 0.2;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}






